<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.doshr.xmen.backend.dao.mapper.SignInMapper">

	<resultMap id="signInMap" type="com.doshr.xmen.backend.dao.po.SignInPO">
		<result column="ID" 			property="id" />
		<result column="CLASS_ID" 		property="classId" />
		<result column="STUDENT_ID" 	property="studentId" />
		<result column="SIGN_IN_TIME" 	property="signInTime" />
		<result column="CREATE_TIME" 	property="createTime" />
		<result column="MODIFY_TIME" 	property="modifyTime" />
		<result column="IS_DELETE" 		property="isDelete" />
	</resultMap>
	
	<select id="getTodaySignIn" resultMap="signInMap">
		select * from sign_in where CLASS_ID=#{classId} and STUDENT_ID=#{studentId} and (TO_DAYS(NOW()) - TO_DAYS(SIGN_IN_TIME)) = 0
	</select>

	<insert id="insertSignIn" useGeneratedKeys="true" keyProperty="id" parameterType="com.doshr.xmen.backend.dao.po.SignInPO">  
	    insert into sign_in(CLASS_ID, STUDENT_ID, SIGN_IN_TIME, CREATE_TIME, MODIFY_TIME) values(#{classId},#{studentId},now(),now(),now())
	</insert>  
	
</mapper>